{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order.css') }}">
{% endblock %}

{% block content %}
<header id="header">
    {% include "navbar.html" %}
    <div id="order-ahead">
        <div id="order-categories">
            <!------------------------ PIZZA CATEGORY ------------------------------------------------>
            <section id="category-pizza">
                <h2>Pizza</h2>
                {% for tuple in order_online['pizzas'] %}
                    <button id="pizza-selections-{{ tuple[0].split(' ')[0].lower() }}" class="pizza-choice">{{ tuple[0] }}</button>
                {% endfor %}
            </section>

            <!-- --------------------- STARTERS CATEGORY ------------------------------------- -->
            <section id="category-starters">
                <h2>Starters</h2>
                {% for tuple in order_online['starters'] %}
                        <button id="starters-selection-{{ tuple[0].split(' ')[0].lower() }}" class="starter-choice">{{ tuple[0].split('(')[0] }}</button>
                {% endfor %}
                
            </section>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16" id="chevron-down">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </div>

        <div id="subcategory-container">
            <div id="subcategory-pizza-16" class="subcategory"></div>
            {% for tuple in starters %}
                    <h2>{{ tuple[1] }}</h2>
            {% endfor %}
            
        </div>
    </div>
</header>

<footer>
  <p>FILL FOOTER (TODO)</p>
</footer>

<!-- <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script> -->
<script src="{{ url_for('static', filename='js/order_ahead.js') }}"></script>
{% endblock content %}