/* Navbar Modifications */
nav {
    background-color: #292e37a8;
}

/* ------------------ORDER_AHEAD--------------------------- */
#order-selections-container {
    height: 100vh;
    width: 30%;
    position: absolute;
    padding-top: 150px;
    background-color: rgba(20, 5, 5, 0.745);
}

.pizza-choice {
    text-align: center
}

#order-ahead {
    width: 100vw;
    padding: 0;
    margin: 0;
    /* height: 100vh; */
}


#order-ahead h1 {
    font-size: 4vw;
    color: white;
    font-weight: 400;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

#order-selections-container button {
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: 100;
    font-size: 2em;
}

#order-selections-container button {
    background-color: rgba(206, 9, 9, 0.934);
    position: relative;
    border-radius: 14px;
    left: 50%;
    transform: translateX(-50%);
    border: 0px solid rgb(0, 0, 0);
    width: 80%;
    padding: 0.7em 0;
    margin: 7px 0;
}

#order-selections-container button:hover {
    background-color: rgba(153, 9, 4, 0.999);
    transition: background-color 1s;
}

.pizza-toppings {
    width: 100%;
    /* display: none; */
}

