/* Template Overrides */
html {
    overflow-x: auto;
}

section {
    padding: 0.5rem 0 3rem 0;
}

header {
    position: absolute;
    min-height: 100vh;
    background-attachment: fixed;
    z-index: 1;
    overflow: hidden;
}

/* Navbar Modifications */
nav {
    background-color: #292e37a8;
}

.pizza-choice {
    text-align: center
}

#order-ahead {
    width: 100vw;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}


#order-ahead h1 {
    font-size: 4vw;
    color: white;
    font-weight: 400;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
}

/* -------------------------- ORDER CATEGORIES SIDEBAR -------------------------- */

#order-categories {
    height: 100vh;
    width: 30%;
    top: 0;
    position: relative;
    float: left;
    background-color: rgba(20, 5, 5, 0.745);
    overflow: auto;
    z-index: 2;
}

#order-categories::-webkit-scrollbar {
    display: none;
}

#order-categories button {
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: 100;
    font-size: 2em;
    background-color: rgba(216, 33, 1, 0.779);
    position: relative;
    border-radius: 14px;
    left: 50%;
    transform: translateX(-50%);
    border: 0px solid rgb(0, 0, 0);
    width: 80%;
    padding: 0.7em 0;
    margin: 7px 0;
    transition: background-color 0.5s, border-radius 1s;
    -webkit-transition: background-color 0.5s, border-radius 1s;
}

#order-categories button:hover {
    background-color: rgba(153, 9, 4, 0.999);
    border-radius: 0;
    transition: background-color 0.5s, border-radius 1s;
    -webkit-transition: background-color 0.5s, border-radius 1s;
}

#chevron-down {
    z-index: 98;
    position: sticky;
    bottom: 2.7rem;
    width: 50px;
    height: 40px;
    color: white;
    background-color:rgba(13, 5, 5, 0.517);
    padding: 5px 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

/* ------------------ PIZZA CATEGORY ----------------------- */
#category-pizza {
    padding-top: 150px;
}


/* ----------------------------- SUBCATEGORIES ------------------------------- */
#subcategory-container {
    margin: 150px 3rem;
    float: left;
    min-height: 60%;
    position: absolute;
    left: 30%;
    width: calc(70% - 6rem);
    background-color: rgba(207, 193, 193, 0.784);
    border-radius: 30px;
    display: none;
}

.pizza-toppings {
    width: 100%;
    /* display: none; */
}

