/*-------APPLIES TO ALL-------*/
* {
    margin:0;
    padding:0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/*----------REUSABLE COMPONENTS----------*/
.section-headline{
    text-align: center;
    font-size: 50px;
    color: #4e4d4d;
    font-weight: 300;
}

section{
    padding: 70px 0;
}

.line{
    background-color: lightgray;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

/*-----------------HEADER---------------------------*/

/* .othernavbar{
    background-color: rgba(30, 29, 29, 0.745);
} */

#header {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/mainpizza.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
/*--------PARALlAX---------*/
    background-attachment: fixed;
}


#header .home-h1 {
    color: white;
    font-size: 70px;
    font-weight: 400;
    text-align: center;
}

#header .home-h2 {
    color: darkgray;
    font-size: 30px;
    font-weight: 300;
    /* padding-left: 1em; */
    text-align: center;
}

#header .headline-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text-align: center; */
}

#header .menu{
  margin: 0 auto;
  padding: 0;
  width: 50vw;
  height: 70vh;
  transform: translate(50%, 30%);
}

    nav ul{
    color: white;
    font-size: 20px;
    list-style: none;
    padding-right: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: max-height 0.4s;
    transform: translate(0,-50%);
}

#header li{
    float: left;
    padding: 0 15px;
}

#header nav img{
    width: 150px;
    padding-left: 20px;
    height: 75px;
}

#header nav{
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: background-color 0.5s;
}

#header nav:hover {
    background-color: rgba(30, 29, 29, 0.745);
}

#header a{
    text-decoration: none;
    color: white;

}

#header .headline-container a{
    border: 1px solid white;
    padding: 5px 15px;
    font-size: 25px;
    margin-right: 2px;
}

#header .headline-container a:hover, #header .headline-container a:active{
    background-color: #24e098;
    transition: background-color 1s;
}

#header .headline-btn{
    margin-top: 8%;
    position: relative;
    text-align: center;
}

#header .orderbox{
    height: 50vh;
    width: 50vw;
    border: 5px solid white;
    position: relative;
    text-align: center;
    float:left;
    padding: 5px 15px;
    font-size: 25px;
    margin-right: 2px;
    position: relative;
}

#header .background-texture {
    background-image: url(../img/pattern-bg.png);
    height: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}


#header svg{
    color: white;
    width: 40px;
    height: 40px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);

}
